<!-- title -->
<h1 class="text-center mt-3 mb-3 text-primary font-weight-bold">HPrev</h1>
<h2 class="text-center mt-3 mb-3 text-secondary font-weight-bold">
  Générateur d'emploi du temps prévisionnel
</h2>
<div class="container text-center">
  <textarea
    class="form-control mb-3 mt-3 w-50 mx-auto text-justify text-wrap text-break"
    rows="10"
    placeholder="Copier les horaires prévisionnels"
    [(ngModel)]="text"
  ></textarea>
  <button class="btn btn-primary w-50" (click)="generate(text)">Générer</button>
  <!-- liste déroulante avec tous les possibleSchedules -->
  <div class="form-group" *ngIf="selectedSchedule">
    <label for="exampleFormControlSelect1" class="mt-5 mb-3 text-primary font-weight-bold">
        Choisir un emploi du temps
    </label>
    <select
      class="form-control w-50 mx-auto text-center text-wrap text-break mb-3"
      id="exampleFormControlSelect1"
      [(ngModel)]="selectedSchedule"
      (change)="updateCalendar()"
    >
      <!-- name is the number of the schedule -->
      <option
        *ngFor="let schedule of possibleSchedules; let i = index"
        [ngValue]="schedule"
      >
        EDT n° {{ i + 1 }}
      </option>
    </select>
  </div>
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
