<!-- title -->
<div class="head-container">
  <fa-icon
    [icon]="faCalendar"
    class="text-primary calendar-icon"
    size="2x"
  ></fa-icon>
  <h1 class="text-center mt-3 mb-3 text-primary font-weight-bold">HPrev</h1>
</div>
<h2 class="text-center mt-3 mb-3 text-secondary font-weight-bold">
  Générateur d'emploi du temps prévisionnel
</h2>
<div class="container text-center">
  <textarea
    class="form-control mb-3 mt-3 w-50 mx-auto text-justify text-wrap text-break"
    rows="10"
    placeholder="Copier les horaires prévisionnels"
    [(ngModel)]="text"
  ></textarea>
  <button class="btn btn-primary w-50 mb-3" (click)="generate(text)">
    Générer
    <fa-icon [icon]="faPaperPlane" class="gen-icon"></fa-icon>
  </button>
  <!-- liste déroulante avec tous les possibleSchedules -->
  <div class="form-group" *ngIf="selectedSchedule">
    <label
      for="exampleFormControlSelect1"
      class="mt-3 mb-3 text-primary font-weight-bold"
    >
      Choisir un emploi du temps
    </label>
    <div class="edt-selector">
      <fa-icon
        [icon]="faChevronLeft"
        class="text-primary chevron"
        (click)="previousSchedule()"
        size="2x"
      ></fa-icon>
      <select
        class="form-control w-50 text-center text-wrap text-break"
        id="exampleFormControlSelect1"
        [(ngModel)]="selectedSchedule"
        (change)="updateCalendar()"
      >
        <!-- name is the number of the schedule -->
        <option
          *ngFor="let schedule of possibleSchedules; let i = index"
          [ngValue]="schedule"
        >
          EDT n° {{ i + 1 }}
        </option>
      </select>
      <fa-icon
        [icon]="faChevronRight"
        class="text-primary chevron"
        (click)="nextSchedule()"
        size="2x"
      ></fa-icon>
    </div>
  </div>
  <full-calendar [options]="calendarOptions" class="mt-3"></full-calendar>
</div>
